<ion-content class="fn-login" padding>

    <ion-grid>
        <ion-row text-center>
            <ion-col class="top-20">
                <img src="./assets/app-logo.png">
            </ion-col>
        </ion-row>

        <form (ngSubmit)="login()">

            <div class="cj-login">
                <ion-row>
                    <ion-col>
                        <ion-input type="email" placeholder="E-mail" name="email" [(ngModel)]="user.email" required></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-button expand="block" type="submit" fill="outline">Entrar</ion-button>
                    </ion-col>
                </ion-row>

                <ion-row padding text-center>
                    <ion-col>
                        <ion-label routerLink="/registry">Registrarme</ion-label>
                    </ion-col>
                </ion-row>
            </div>

        </form>

    </ion-grid>

</ion-content>