<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="id == 'new'">
            Agregar Paciente
        </ion-title>
        <ion-title *ngIf="id != 'new'">
            Editar Paciente
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content overflow-scroll="true">

    <form (ngSubmit)="save()">
        <ion-grid>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Nombres</ion-label>
                        <ion-input type="text" name="name" [(ngModel)]="user.name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Apellidos</ion-label>
                        <ion-input type="text" name="lastname" [(ngModel)]="user.lastname"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Cedula</ion-label>
                        <ion-input type="number" name="identification" [(ngModel)]="user.identification"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Fecha de nacimiento</ion-label>
                        <ion-datetime display-format="MMM DD, YYYY HH:mm" name="birthdate" [(ngModel)]="user.birthdate"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-select">
                        <ion-label>Genero</ion-label>
                        <ion-select placeholder="Seccionar" name="gender" [(ngModel)]="user.gender">
                            <ion-select-option value="f">Femenino</ion-select-option>
                            <ion-select-option value="m">Maculino</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">E-mail</ion-label>
                        <ion-input type="email" name="email" [(ngModel)]="user.email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Direccion</ion-label>
                        <ion-input type="text" name="address" [(ngModel)]="user.address"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-select">
                        <ion-label>Ciudad</ion-label>
                        <ion-select placeholder="Seccionar" name="city" [(ngModel)]="user.city">
                            <ion-select-option value="1">Bogotá</ion-select-option>
                            <ion-select-option value="2">Medellin</ion-select-option>
                            <ion-select-option value="3">Pereira</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Celular</ion-label>
                        <ion-input type="number" name="cel" [(ngModel)]="user.cel"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-select">
                        <ion-label>RH</ion-label>
                        <ion-select placeholder="Seccionar" name="rh" [(ngModel)]="user.rh">
                            <ion-select-option value="O-">O-</ion-select-option>
                            <ion-select-option value="O+">O+</ion-select-option>
                            <ion-select-option value="B-">B-</ion-select-option>
                            <ion-select-option value="B+">B+</ion-select-option>
                            <ion-select-option value="A-">A-</ion-select-option>
                            <ion-select-option value="A+">A+</ion-select-option>
                            <ion-select-option value="AB-">AB-</ion-select-option>
                            <ion-select-option value="AB+">AB+</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Peso</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button expand="block" fill="outline" type="submit">Guardar</ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>

</ion-content>