<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Lista de Pacientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item *ngFor="let item of users">
            <ion-icon name="person" slot="start"></ion-icon>
            {{ item.name }}
            <ion-button shape="round" slot="end" [routerLink]="['/add-patient', item.id ]">Ver</ion-button>
        </ion-item>
    </ion-list>

</ion-content>