<ion-content class="fn-login" padding>
    <div text-center>
        <img src="./assets/app-logo.png">
    </div>
    <ion-grid>

        <h3 text-center>
            Regístrate
        </h3>
        <div class="cj-registry">
            <ion-row>
                <ion-col>
                    <ion-input type="text" placeholder="Nombres"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-input type="text" placeholder="Apellidos"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-input type="number" placeholder="Cedula"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-datetime display-format="MMM DD, YYYY HH:mm" placeholder="Fecha de nacimiento"></ion-datetime>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-select">
                        <ion-label>Genero</ion-label>
                        <ion-select placeholder="Seccionar">
                            <ion-select-option value="f">Femenino</ion-select-option>
                            <ion-select-option value="m">Maculino</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-input type="email" placeholder="E-mail"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-input type="text" placeholder="Direccion"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-select">
                        <ion-label>Ciudad</ion-label>
                        <ion-select placeholder="Seccionar">
                            <ion-select-option value="1">Bogotá</ion-select-option>
                            <ion-select-option value="2">Medellin</ion-select-option>
                            <ion-select-option value="3">Pereira</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-input type="password" placeholder="Password"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button expand="block" fill="outline" routerLink="/home">Enviar</ion-button>
                </ion-col>
            </ion-row>

            <ion-row padding text-center>
                <ion-col>
                    <ion-label routerLink="/login">Ingresar</ion-label>
                </ion-col>
            </ion-row>
        </div>

    </ion-grid>

</ion-content>