<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Dashboard
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/banner.jpg"></ion-img>
        <ion-card-header>
            <ion-card-title>Pacientes por mes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <canvas #doughnutCanvas></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item class="activated">
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Mis ultimos pacientes</ion-label>
        </ion-item>

        <ion-item href="#" *ngFor="let item of users" [routerLink]="['/add-patient', item.id ]">
            <ion-label>{{ item.name }}</ion-label>
        </ion-item>
    </ion-card>

</ion-content>