<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
            <ion-card-title>Pacientes por mes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <canvas #doughnutCanvas></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item class="activated">
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Mis ultimos pacientes</ion-label>
        </ion-item>

        <ion-item href="#">
            <ion-label>Leonardo</ion-label>
        </ion-item>
        <ion-item href="#">
            <ion-label>Arturo</ion-label>
        </ion-item>

    </ion-card>
</ion-content>